:root {
  --fundo-escuro: #000;
  --fundo-card: #1d2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #38434F;
  --primario: #70b5f9;
  --positivo: #3ec786;
}

body {
  background-color: var(--fundo-escuro);
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
  gap: 16px;
}

/*HEADER/NAVBAR*/
header {
  background-color: var(--fundo-card);
  color: var(--texto-principal);
  display: flex;
  align-items: center;
  padding: 7px 8px;
  justify-content: center;
}

.linkedin {
  font-size: 34px;
}

.search-bar {
  background-color: var(--input);
  outline: none;
  padding: 5px 8px;
  border-radius: 4px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--texto-principal);
  padding: 0;
  color: var(--texto-principal);
}

.button-icon {
  font-size: 16px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 10px 7px 100px;
  border-right: 1px solid var(--texto-secundario);
  gap: 8px
}

.button-links {
  background-color: transparent;
  color: var(--texto-principal);
  border: solid 0px;
  cursor: pointer;
  padding: 0px 10 px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MAIN/BODY*/
main {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 780px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

/*IMAGES*/
.background-profile {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 230px;
  object-fit: cover;
}

.profile-picture {
  border: solid 4px var(--fundo-escuro);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;

  position: relative;
  top: -100px;
  left: 24px;
}

/*GENERAL STRUCTURES*/
.content {
  background-color: var(--fundo-card);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
}

.style-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.be-image {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.be-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.style-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/**/
.profile-section {
  margin-top: -90px;
  display: flex;
  flex-direction: space-between;
  gap: 120px;
  align-items: flex-start;
  padding: 0px 24px 24px 24px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.text-info {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 8px;
}

/*TEXTS*/
#name {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--texto-principal);
}

#hard-skills,
.be-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20PX;
  color: var(--texto-principal);
}

#about,
#location,
#separator {
  color: var(--texto-secundario);
}

#contact-info,
#followers,
#connections {
  color: var(--primario);
}

/*BUTTONS*/
.buttons-profile {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}

#message-button {
  background-color: var(--primario);
  border: solid 2px var(--primario);
  color: var(--texto-escuro);
}

#more-button {
  background-color: transparent;
  border: solid 2px var(--primario);
  color: var(--primario);
}

#message-button,
#more-button {
  border-radius: 16px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  width: 100%;
}

/*EDUCATION*/
.profile-education {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*HIGHLIGHTS*/
.highlights {
  display: flex;
  padding: 16px 24px;
  gap: 8px;
}

.publis {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.publication {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--texto-secundario);
  border-radius: 8px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.publi-legen {
  display: flex;
  flex-direction: column;
  padding: 12px 14px;
  width: 100%;
  min-width: 0;
}

#publi-text,
#legend {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
}

#publi-text, #likes, #coments{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: var(--texto-secundario);
}

#legend {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--texto-principal);
}

.likes-coments {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  padding: 4px 3px;
  justify-content: space-between;
}

.cicle-likes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.circles {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}

.blue, .green, .orange {
  margin-left: -12px;
}

.blue {
  color: var(--primario);
}

.green {
  color: var(--positivo);
}

.orange {
  color: #DF704D;
}